/**
 * This file contains the styles required to make the footer sticky.
 */

html,
body {
  height: 100%;
}


#page {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  #page-content {
    flex: 1 0 auto;
    margin: 0px;
  }
}

#page-footer {
  flex-shrink: 0;
}

