{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/login

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips"
    }
}}



<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    {{#error}}
        <div class="loginerrors">
            <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
            <div class="error" >{{error}}</div>
        </div>
    {{/error}}
    <form action="{{loginurl}}" method="post" id="login" class="ui-form">
        <div class="form-group">
            <label for="username" >
                {{^canloginbyemail}}
                    {{#str}} username {{/str}}
                {{/canloginbyemail}}
                {{#canloginbyemail}}
                    {{#str}} usernameemail {{/str}}
                {{/canloginbyemail}}
            </label>
            <input type="text" name="username" id="username"
                   class="form-control"
                   value="{{username}}"
                   placeholder= {{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}>

        </div>
        <input type="hidden" name="logintoken" value="{{logintoken}}">
        <div class="form-group">
            <label for="exampleInputPassword1">{{#str}} password {{/str}}</label>
            <input type="password" name="password" id="password" value=""
                   class="form-control"
                   placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}>
            <small class="form-text text-right">
                <a href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a></small>
        </div>
        {{#rememberusername}}
            <div class="rememberpass m-t-1">
                <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
            </div>
        {{/rememberusername}}

        <button type="submit" class="mt-3 btn btn-schola col-lg-12 col-md-12 col-sm-12 col-xs-12">{{#str}}login{{/str}}</button>
        <p class="mt-5 col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center"> {{#str}} cookiesenabled {{/str}}
            {{{cookieshelpiconformatted}}}</p>

    </form>
</div>
{{#canloginasguest}}
    <div class="m-t-2">
        <p class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mt-3 text-center"><strong><i class="fa fa-user-circle-o"></i> {{#str}}someallowguest{{/str}}</strong></p>
        <form action="{{loginurl}}" method="post" id="guestlogin">
            <input type="hidden" name="logintoken" value="{{logintoken}}">
            <input type="hidden" name="username" value="guest"/>
            <input type="hidden" name="password" value="guest"/>
            <input type="hidden" name="logintoken" value="{{logintoken}}">
            <button class="mt-3 btn btn-outline btn-schola col-lg-12 col-md-12 col-sm-12 col-xs-12"
                    type="submit">{{#str}}loginguest{{/str}}</button>
        </form>
    </div>
{{/canloginasguest}}
{{#cansignup}}
    <div class="sr-only">
        <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
    </div>
{{/cansignup}}
{{#cansignup}}
    <form class="m-t-1" action="{{signupurl}}" method="get" id="signup">
        <button type="submit" class="mt-3 btn btn-outline btn-schola col-lg-12 col-md-12 col-sm-12 col-xs-12">{{#str}}startsignup{{/str}}</button>
    </form>
{{/cansignup}}
{{#hasidentityproviders}}
    {{#hasinstructions}}
        <div class="row justify-content-center">
            <div class="col-xl-8 push-xl-2 m-2-md col-sm-8 push-sm-2">
                <div class="card instructionspanel">
                    <div class="card-block">
                        <div class="card-title">
                            <h2>{{#str}}firsttime{{/str}}</h2>
                        </div>
                        <div>
                            {{{instructions}}}
                            {{#cansignup}}
                                <form class="m-t-1" action="{{signupurl}}" method="get" id="signup">
                                    <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
                                </form>
                            {{/cansignup}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/hasinstructions}}
{{/hasidentityproviders}}


{{#js}}
    {{#error}}
        require(['jquery'], function($) {
        $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
            if ($('#username').val()) {
            $('#password').focus();
            } else {
            $('#username').focus();
            }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
