$carousel-size: 13px;

.carousel-indicators {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 66px;
  opacity: 1;
  width: min-content;
  margin: 0 auto;
  height: 39px;
  align-items: center;
  padding: 1% 1%;
  bottom: 25px;
  li {
    max-width: $carousel-size;
    height: $carousel-size;
    min-width: $carousel-size;
    max-width: $carousel-size;
    margin-right: 4px;
    border: 2px solid #2f2842;
    border-radius: 10px;
    background: white;
    opacity: 1;
    &.active {
      background: #2f2842 0% 0%;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 61px;
  height: 61px;
  background: #26213d 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  top:45%;
}

.carousel-control-prev {
  left: 79px;
}
.carousel-control-next {
  right: 79px;
}
