.ui-courses {
  .course {
    .course-bg {
      width: 100%;
      height: 318px;
    }
    .course-information {
      color: white;
      h2 {
        margin-top: 6%;
        font-size: 21px;
      }
      .course-teachers{
        span {
          font-size: 21px;
        }
        .ui-course-teacher{
          .teacher {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
