form.ui-form {
  label , small{
    color: $brand-primary;
    font-weight: 500;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid $brand-primary;
    border-radius: 0px;
    padding-left: 0px;
    color: $brand-primary;
  }


}
