/*Admin*/

$font-menu-size: 21px;
#page-my-index {
  padding-top: 0px;

  nav.main {
    background: #26213d;
    height: 86px;
    padding-left: 56px;

    li {
      a {
        color: white;

        [class*=" fa-"] {
          margin-right: 21px;
        }
      }

      &.push {
        margin-right: 95.25px;
      }

      &.nav-item {
        margin-right: 36px;
      }
    }
  }

  .ui-dashboard-header {
    height: 153px;
    box-shadow: 0 0 6px 1px #dad5d5;
    background: white;
    margin-top: 51px;

    .ui-drawer-menu {
      font-size: $font-menu-size;
    }

    .ui-user-information {
      .ui-info-controls {
        i.fas {
          &::before {
            font-size: 19.75px;
            color: #171526;
          }
          margin-right: 21px;
        }
      }

    }
  }

  .ui-content-area {
    height: 100%;

    .ui-side-bar {
      background: $brand-primary;

      .ui-side-bar-widget {
      }
    }
  }
}