.ui-announcement-slider {
  .slider-pills {
    .pill {
        background: #825555;
        border: 2px solid #707070;
        height: 14px;
        width: 14px;
        border-radius: 72px;
        margin-right: 5px;
        list-style: none;
        &.active{
            background: white;
        }
        a{
            display: block;
            width: inherit;
            height: inherit;
        }
    }
  }
}
