.ui-tutor-section {
  width: 70%;
  margin: 0 auto;
  .ui-tutor-pane-collection {
    margin: 0px;
    .row {
      width: 100%;
      flex-shrink: 0px;
      .ui-tutor-pane {
        width: 24.5%;
        height: 141px;
        margin-bottom: 85px;
        border-radius: 5px;
        background: #26233f;
        padding: 2.7% 2%;
        color: white;
        box-shadow: 0px 0px 3px #7d6161;
        border: 1px solid #ece6e6;
      }
    }
  }
}
