{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_schola/footer

    Footer template

    Example context (json): {}
}}
{{#hasblocks}}
    <i id="sidepreopen-control"
       aria-expanded="{{#draweropenright}}true{{/draweropenright}}{{^draweropenright}}false{{/draweropenright}}"
       aria-controls="sidepre-blocks"
       data-action="toggle-drawer"
       data-side="right"
       data-preference="sidepre-open"
       title="{{#str}} showhideblocks, theme_schola {{/str}}">
    </i>

    <section id="sidepre-blocks" data-region="blocks-column" class="hidden-print">
        {{{ sidepreblocks }}}
    </section>
{{/hasblocks}}

{{{ output.standard_after_main_region_html }}}

{{#hasdrawertoggle}}
    {{> theme_schola/nav-drawer }}
{{/hasdrawertoggle}}
</div><!-- Ends .page-wrapper -->

</body>
</html>
{{#js}}
    require(['theme_boost/index']);

    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    });
{{/js}}
