{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_schola/footer

    Footer template

    Example context (json): {}
}}
<footer class="footer container-fluid">
    <div class="foot-note row">
        <div class="col-md-6 col-lg-6 no-p">
            <a href="" title="Logo">
                <img src="./images/logo.svg" alt="">
            </a>
            <p class="mt-4">
                Lorem ipsum dolor sit amet, <br> consetetur sadipscing elitr, sed diam <br> nonumy eirmod tempor invidunt ut
                <br> labore et dolore magna aliquyam erat <br>
            </p>
            <p>
                200 N Adeola Street <br>
                Suite 500 Medina Estate <br>
                Rigamortis Avenue <br>
            </p>
        </div>
        <div class="col-md-6 m link-section col-lg-6 no-p row">
            <div class="links col-md-3 col-lg-3 col-xs-12 col-sm-12 no-">
                <h6>Useful Links</h6>
                <li>Features</li>
                <li>Documentations</li>
                <li>Components</li>
                <li>Support</li>
                <li>Training</li>
            </div>
            <div class="links col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <h6>Useful Links</h6>
                <li>Features</li>
                <li>Documentations</li>
                <li>Components</li>
                <li>Support</li>
                <li>Training</li>
            </div>
            <div class="links col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <h6>Useful Links</h6>
                <li>Features</li>
                <li>Documentations</li>
                <li>Components</li>
                <li>Support</li>
                <li>Training</li>
            </div>
            <div class="links col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <h6>Useful Links</h6>
                <li>Features</li>
                <li>Documentations</li>
                <li>Components</li>
                <li>Support</li>
                <li>Training</li>
            </div>
        </div>
        <div class="clearfix">

        </div>
        <div class="clearfix"></div>
    </div>


</footer>
<div class="container-fluid data-rentention">
    <p class="text-center">
        Data Rentetion
    </p>
</div>
