{{#shoulddisplaymarketing}}
    <div class="frontpage-marketing">
        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <img src="{{{ marketing1icon }}}" />
                        <h2>{{{ marketing1heading }}}</h2>
                        <h3>{{{ marketing1subheading }}}</h3>
                        <p>{{{ marketing1content }}}</p>
                        {{#marketing1url}}<a class="btn btn-primary" href="{{{ marketing1url }}}">{{#str}}readmore, theme_schola{{/str}}</a>{{/marketing1url}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="{{{ marketing2icon }}}" />
                        <h2>{{{ marketing2heading }}}</h2>
                        <h3>{{{ marketing2subheading }}}</h3>
                        <p>{{{ marketing2content }}}</p>
                        {{#marketing2url}}<a class="btn btn-primary" href="{{{ marketing2url }}}">{{#str}}readmore, theme_schola{{/str}}</a>{{/marketing2url}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="{{{ marketing3icon }}}" />
                        <h2>{{{ marketing3heading }}}</h2>
                        <h3>{{{ marketing3subheading }}}</h3>
                        <p>{{{ marketing3content }}}</p>
                        {{#marketing3url}}<a class="btn btn-primary" href="{{{ marketing3url }}}">{{#str}}readmore, theme_schola{{/str}}</a>{{/marketing3url}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="{{{ marketing4icon }}}" />
                        <h2>{{{ marketing4heading }}}</h2>
                        <h3>{{{ marketing4subheading }}}</h3>
                        <p>{{{ marketing4content }}}</p>
                        {{#marketing4url}}<a class="btn btn-primary" href="{{{ marketing4url }}}">{{#str}}readmore, theme_schola{{/str}}</a>{{/marketing4url}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/shoulddisplaymarketing}}