{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_schola/frontpage

    Admin time setting template.

    schola Frontpage layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{>theme_schola/inc_start}}

{{>theme_schola/slideshow}}

<section class="ui-welcome-pane col-lg-11 col-md-11 col-xs-12 col-sm-12">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 ui-welcome-text float-left">
            <h5 class="mb-4">Welcome</h5>
            <h3 class="mb-4">Social Distance Learning and <br/> Online Moodle experience</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                which was the lorem ipsum dolor sit amet.</p>
        </div>
        <div class="d-flex ui-welcome-image col-lg-7 col-md-7 col-xs-12 col-sm-12 float-right">
            <img src="./images/Rectangle 13.png" alt="">
        </div>
    </div>
</section>
<div class="float-none"></div>
<section class="ui-info-text text-center col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div>
        <h4 class="mb-4">Heading Text goes here</h4>
        <p>
            Lorem ipsum dolor sit amet, <br>
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor <br>
            invidunt ut labore et.
        </p>
    </div>

    <div class="col-lg-10 offset-md-1 offset-lg-1 col-md-12 col-xs-12 col-sm-12">
        <div class="row ui-info-box">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <strong>5000+</strong>
                <span>Learners</span>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <strong>1000+</strong>
                <span>Courses</span>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <strong>2000+</strong>
                <span>Facilitators</span>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <strong>5</strong>
                <span>Countries</span>
            </div>
        </div>

    </div>
</section>

{{{ output.course_content_header }}}
{{{ output.main_content }}}
{{{ output.course_content_footer }}}

<!-- Site Annoucements -->
<section class="ui-site-annoucement">
    <h2>Site Annoucements</h2>
    <div class="ui-site-annoucement-bar col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="row">
            <div class="ui-avatar media col-lg-1 col-md-1 col-xs-4 col-sm-4">
                <img src="./images/img_avatar.png" class="img-fluid" alt="">
            </div>
            <div class="ui-site-information col-lg-10 col-md-10 col-xs-12 col-sm-12">
                <div>
                    <p><strong>Custom Moodle Theme </strong> Admin User - Saturday, 30 May 2020, 7:03 AM</p>
                    <p>This(Flora) theme will help us to create courses, lessons, group discusion and many more along
                        with
                        easily managing & installing features as we want to make our life smooth with online
                        learning/training
                        courses.</p>

                </div>
            </div>
        </div>


    </div>
    <div class="row mt-5">
        <div class="ui-announcement-slider d-flex col-lg-12 col-md-12 col-xs-12 col-sm-12 justify-content-center">
            <ul class="slider-pills d-flex flex-row">
                <li class="pill active"><a href=""></a></li>
                <li class="pill"><a href=""></a></li>
                <li class="pill"><a href=""></a></li>
                <li class="pill"><a href=""></a></li>
            </ul>
        </div>
    </div>
</section>

<section class="ui-tutor-section mt-5">
    <h2 class="d-flex justify-content-center">Our Tutors</h2>

    <div class="ui-tutor-pane-collection no-p  mt-5 col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="row d-flex justify-content-around">
            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>
            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>
            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>
            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-around">
            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>
            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>

            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>
            <div class="ui-tutor-pane">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <img src="./images/Ellipse 10.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-6 col-sm-12">
                        <h5>Hugo Weaving</h5>
                        <h6>PHD</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="d-flex flex-column justify-content-center ui-brochure-download pt-5">
    <div class="row ui-brocure-parent">
        <div class="bg"></div>
        <div class="ui-brochure-information d-flex flex-column  p-5 no-p col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h2>Download our 2020 Digital <br> Brochure</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
            <button class="btn  btn-schola d-flex align-self-start">Download Brochure</button>
        </div>
        <div class="ui-brochure-image no-p col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="./images/Rectangle 25.png" class="img-fluid" alt="">
        </div>

    </div>


</section>

{{>theme_schola/inc_end}}
{{{ output.standard_end_of_body_html }}}
