{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_schola/header

    Page header template

    Example context (json): {}
}}

{{> theme_schola/accessibilitybar }}

{{> theme_schola/topbar-header}}
<div class="ui-header-pane d-none d-sm-block col-lg-12 col-xs-12 col-md-12">
    <div class="ui-logo-pane float-left col-lg-3 col-md-3 no-p">
        <img src="./images/logo.svg" style="height:42px;" class="img-fluid" alt="">
    </div>
    <div class="ui-control-pane float-right  ">
        <ul>
            <li><a href=""><img src="./images/Icon material-notifications.svg" class="img-fluid" alt=""></a></li>
            <li><a href=""><img src="./images/Icon ionic-ios-chatbubbles.svg" class="img-fluid" alt=""></a></li>
            <li><a href=""><img src="./images/avatar.svg" class="img-fluid" style="height:42px;" alt=""></a></li>
            <li><a href=""><img src="./images/menu.svg" class="img-fluid" alt=""></a></li>
        </ul>
    </div>
</div>
