{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_schola/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}

{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}"/>
    {{{ output.standard_head_html }}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,600;0,500;0,700;0,900;1,100;1,300;1,600;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
</head>

<body id='moodle-app' {{{ bodyattributes }}}>
{{{ output.standard_top_of_body_html }}}
<section class="ui-login-section  d-flex justify-content-center col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="ui-login-form mt-5 p-4 col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <div class="col-lg-12 d-flex  mb-5 justify-content-center col-md-12 col-xs-12 col-sm-12">
            <img src="{{logo}}" class="img-fluid " alt="">
        </div>

            {{{ output.course_content_header }}}
            {{{ output.main_content }}}
            {{{ output.course_content_footer }}}


    </div>

</section>
{{{ output.standard_footer_html }}}

{{{ output.standard_end_of_body_html }}}

</body>
</html>
{{#js}}
    require(['theme_boost/loader']);
{{/js}}
