{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_schola/columns2

    Admin time setting template.

    schola 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{>theme_schola/myinc_start}}

<div id="page-content" class="">

    <section class="ui-content-area d-flex flex-row col-lg-12 col-md-12 no-p">
        <div class="ui-side-bar col-lg-2 col-md-2">
            <div class="ui-side-bar-widget col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">Active</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link disabled" href="#">Disabled</a>
                </nav>
            </div>
        </div>
        <div id="page-content" class="row col-lg-10">
            <div id="region-main-box" class="col-xs-12 col-lg-12">
                {{#is_siteadmin}}
                    {{>theme_schola/mydashboard_admin}}
                {{/is_siteadmin}}
                {{^is_siteadmin}}
                    {{{ output.full_header }}}
                {{/is_siteadmin}}
                {{{ output.course_content_header }}}
                {{{ output.main_content }}}
                {{{ output.course_content_footer }}}
            </div>
        </div>
    </section>

</div>



{{>theme_schola/footer-plain}}
{{{ output.standard_end_of_body_html }}}