{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_schola/my/header

    Public Header template

    Example context (json): {}
}}
<div class="container-fluid no-p full-height">
    <div class="ui-dashboard-header row no-margin no-p">
        <div class="d-flex flex-row justify-content-lg-between w-100 pl-5 pr-5">
            <div class="ui-drawer-menu align-self-center ">
                <i class="fas fa-bars"></i>
            </div>

            <div class="ui-user-information align-self-center d-flex  flex-row justify-content-lg-between">
                <div class="ui-info-controls align-self-center ">
                    <a href=""><i class="fas fa-search"></i></a>
                    <a href=""><i class="fas fa-comment-dots"></i></a>
                    <a href=""><i class="fas fa-bell"></i></a>
                </div>
                <div class="col-lg-1">
                    <img src="" alt="">
                </div>
                <div class="ui-name">
                    <h4>Okeowo Aderemi</h4>
                    <h6><i class="fas fa-book-reader"></i> 50 Courses </h6>
                </div>
            </div>
        </div>


    </div>

    {{> theme_schola/accessibilitybar }}
