{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}"/>
    {{{ output.standard_head_html }}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,600;0,500;0,700;0,900;1,100;1,300;1,600;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/301ba12003.js" crossorigin="anonymous"></script>
</head>

<body {{{ bodyattributes }}}>
{{>theme_schola/topbar-header}}
{{>theme_schola/myheader}}

<div id="page" class="container-fluid no-p">

{{{ output.standard_top_of_body_html }}}