<div class="modal moodle-has-zindex" data-region="modal-container" aria-hidden="true" role="dialog">
    <div class="modal-dialog {{$classes}}{{/classes}}" role="document" data-region="modal" aria-labelledby="{{uniqid}}-modal-title" tabindex="0">
        <div class="modal-content">
            <div class="modal-header {{$headerclasses}}{{headerclasses}}{{/headerclasses}}" data-region="header">
                <h5 id="{{uniqid}}-modal-title" class="modal-title" data-region="title">{{#str}}themesettingstitle, theme_schola{{/str}}</h5>

                <button type="button" class="close" data-action="hide" aria-label={{#quote}}{{#str}}closebuttontitle{{/str}}{{/quote}}>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" data-region="body">
                <div class="container">
                    <form autocomplete="off" accept-charset="utf-8" class="mform">
                        <div class="form-group">
                            <label for="fonttype">{{#str}}themesettingsfonttype, theme_schola{{/str}}</label>
                            <select id="fonttype" name="fonttype" class="form-control" required>
                                <option value="default">{{#str}}themesettingsdefaultfont, theme_schola{{/str}}</option>
                                <option value="odafont">{{#str}}themesettingsdyslexicfont, theme_schola{{/str}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="enableaccessibilitytoolbar" name="enableaccessibilitytoolbar">
                                <label class="form-check-label" for="enableaccessibilitytoolbar">{{#str}}themesettingsenableaccessibilitytoolbar, theme_schola{{/str}}</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" data-region="footer">
                <button type="button" class="btn btn-primary" data-action="save">{{#str}}save{{/str}}</button>
                <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}}cancel{{/str}}</button>
            </div>
        </div>
    </div>
</div>
