<nav class="main navbar navbar-toggleable-md fixed-top">


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto float-left left-pane">
            <li class="nav-item active push">
                <a class="nav-link" href="#">
                    <i class="fas fa-phone"></i>
                    123-4567-890 </a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="#"> <i class="far fa-envelope"></i>mail@example.com</a>
            </li>
        </ul>
        <ul class="float-right navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Courses </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Custom Link 1 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Custom Link 2 </a>
            </li>
        </ul>

    </div>
</nav>