body,
html {
  padding-bottom: 0px;
  height: 100%;
}

#page-site-index {
  nav {
    background: #26213d;
    height: 86px;
    padding-left: 56px;

    li {
      a {
        color: white;

        [class*=" fa-"] {
          margin-right: 21px;
        }
      }

      &.push {
        margin-right: 95.25px;
      }

      &.nav-item {
        margin-right: 36px;
      }
    }
  }

  .ui-logo-pane {
    padding-left: 2.3%;
  }

  .ui-header-pane {
    height: 86px;
    background: no-repeat padding-box #fff;
    -webkit-box-shadow: 0 2px 2px #2621214d;
    box-shadow: 0 2px 2px #2621214d;
    position: relative;
    margin-top: 37px;
    padding: 1%;
    border-bottom: 1px solid #6d6b73;

    img {
      height: 50%;
    }

    .ui-control-pane {
      ul {
        display: flex;
        align-items: center;

        li {
          list-style: none;
          float: left;
          margin-right: 52.4px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }

  .ui-slider-control {
    .carousel {
      height: 600px;

      .carousel-item {
        height: 100%;
      }
    }
  }

  .ui-welcome-text {
    p {
      line-height: 2em;
      color: #817f91;
    }
  }

  .ui-welcome-pane {
    margin: 73px auto;

    .ui-welcome-image {
      flex-direction: row-reverse;
    }
  }

  .ui-info-text {
    .ui-info-box {
      margin-top: 77px;

      & > div {
        padding: 3% 2%;
        color: $brand-primary;

        strong {
          font-size: 65px;
          font-weight: bold;
          display: block;
          margin-bottom: -12px;
        }

        span {
          font-size: 32px;
          font-weight: normal;
        }

        &:hover {
          background: $brand-primary;
          color: white;
          box-shadow: 0px 0px 3px #7d6161;
          border: 1px solid #ece6e6;
        }
      }
    }
  }

  .ui-available-courses {
    background: #f6fcfd;
    padding-top: 56px;
    margin-top: 149px;

    & > h2 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 58px;
    }

    .ui-courses {
      display: flex;
      justify-content: space-evenly;

      & > div {
        max-width: 350px !important;
        height: 587px;
        margin-bottom: 85px;
        background: $brand-primary;
        box-shadow: 0px 0px 3px #7d6161;
        border: 1px solid #ece6e6;
        border-radius: 2px;
      }
    }

    .ui-more-courses {
    }
  }

  .ui-site-annoucement {
    h2 {
      font-size: 26px;
    }

    height: 407px;
    padding: 2% 6%;
    background: $brand-primary;
    color: white;

    .ui-site-annoucement-bar {
      background: white;
      height: 192px;
      border-radius: 14px;
      margin-top: 35px;
      padding: 2.5% 2%;

      .ui-avatar {
        height: 100px;

        img {
          width: 100%;
          border-radius: 52px;
        }
      }

      .ui-site-information {
        color: $brand-primary;
      }
    }
  }

  .ui-brochure-download {
    position: relative;
    z-index: 1020;

    .ui-brocure-parent {
      background: #f6fcfd;
      width: 70%;
      margin: 0 auto;
      box-shadow: 0 4px 5px rgba(29, 27, 27, 0.66);
      padding: 0%;

      .bg {
        background: #26233f;
        height: 218px;
        position: absolute;
        left: 0px;
        width: 100%;
        z-index: -1;
        bottom: 0px;
      }
    }
  }
}

.footer {
  position: relative;
  height: auto;
  padding: 0;
  background: #26233f;

  .foot-note {
    position: relative;
    padding: 139px 0px;
    color: white;
    width: 70%;
    margin: 0 auto;

    .link-section {
      margin-top: 5.5rem !important;

      .links {
        li {
          list-style: none;
        }
      }
    }
  }
}

.data-rentention {
  padding: 1%;
  background: black;
  color: white;

  p {
    margin-bottom: 0px;
  }
}

.accesshide {
  left: -10000px;
  position: absolute;
}

/* Login Page */
#moodle-app.login {
  background: url([[pix:theme|login]]);
  background-size: cover;

  .ui-login-section {
    .ui-login-form {
      background: white;
      border-radius: 8px;
    }
  }
}


// Utilities
.no-p {
  padding: 0px;
}

.btn-schola {
  background: $brand-primary;
  color: $brand-primary-color;
}

.btn-schola {
  &.btn-outline {
    color: $brand-primary;
    background: $brand-primary-color;
    border: 1px solid $brand-primary;
    font-weight: bold;
  }
}

.full-height {
  height: 100%;
}

.error {
  color: red;
  font-style: italic;
}

#page {
  margin-top: 0px;
}